<div class="calendar_wrapper">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Teacher Subjects</h1>
    <%= link_to 'New Teacher Subject', new_teacher_subject_path, :class=> "btn btn-primary" %>
    <div class="spacer-40"></div>

    <table class="table">
      <thead>
        <tr>
          <th>Teacher</th>
          <th>Subject</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @teacher_subjects.each do |teacher_subject| %>
          <tr>
            <td><%= teacher_subject.teacher.name %></td>
            <td><%= teacher_subject.subject.name %></td>
            <td><%= link_to 'Edit', edit_teacher_subject_path(teacher_subject), :class=> "btn btn-primary w100" %></td>
            <td><%= link_to 'Destroy', teacher_subject, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-primary w100" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Teacher Subject', new_teacher_subject_path, :class=> "btn btn-primary" %>
  </div>
</div>
