<div class="calendar_wrapper">
  <div class="container">
    <h1>Calendar</h1>

    <% @teachers.each do |teacher| %>
      <div class="calendar_teacher">

        <div class="calendar_subject_container">
          <h3 class="calendar_teacher_big_text"><%= teacher.name %></h3>
          <% @teacher_subjects.select{|a| a.teacher == teacher}.each do |subject| %>
            <div class="calendar_subject">
              <%= subject.subject.name %>
            </div>
          <% end %>
        </div>

        <div class="spacer"></div>

        <div class="calendar_week">

          <% teacher_timeslots = @timeslots.select{|a| a.teacher == teacher} %>

          <% total_timeslot = 0 %>
          <% available_timeslot = 0 %>

          <% for dow in 0..6 do %>

            <div class="calendar_day">

              <% teacher_timeslots_day = teacher_timeslots.select{|a| a.dow == dow} %>
              <h5 class="font-strong"><%= @dow_names[dow] %></h5>


              <% teacher_timeslots_day.each do |timeslot| %>
                <!-- calculate end time, 75minute for a lesson -->
                <% end_time = timeslot.start_time + 75.minute %>


                <% total_timeslot += 1 %>
                <% if timeslot.state == "Available" %>
                  <% available_timeslot += 1 %>
                <% end %>

                <%= link_to edit_calendar_timeslot_path(timeslot) do %>
                  <div class= "calendar_timeslot <%= timeslot.state == "Available" ? "available" : "occupied" %>"><%= timeslot.start_time.strftime("%I:%M%p") %><br>~<br><%= end_time.strftime("%I:%M%p") %></div>
                <% end %>
              <% end %>
            </div>
          <% end %>

        </div>
        <div class="spacer"></div>
        <h4 class="calendar_teacher_big_text">Available timeslots : <%= "#{available_timeslot}/#{total_timeslot}" %></h4>
      </div>
    <% end %>
  </div>
</div>
