
<%= simple_form_for(@timeslot, :url => url) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% dow_names = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
    <%= f.association :teacher, required: true %>
    <%= f.input :dow, required: true, collection: 0..6, :label_method => lambda{|dow| dow_names[dow]}, label:"Day of week" %>
    <%= f.input :start_time, as: :string, required: true, input_html:{ class: "timePicker" }, label: "Start Time" %>
    <%= f.input :state, input_html:{ class: "profileLanguageSelect2" }, required: true, collection: ["Available", "Occupied"]%>
    <%= f.input :footnote, as: :text, :input_html => {:style => 'width: 100%', :rows => 5} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=> "btn btn-primary" %>
  </div>
<% end %>
